
.idea/*
.gradle/*
build/*
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/checksums/checksums.lock
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/checksums/checksums.lock
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/executionHistory/executionHistory.bin
